.icon-aligncenter {
    background-image: url('icons/aligncenter.svg');
}

.icon-alignright {
    background-image: url('icons/alignright.svg');
}

.icon-remove {
    background-image: url('icons/remove.svg');
}

.icon-add {
    background-image: url('icons/add.svg');
}

.icon-addelement {
    background-image: url('icons/addelement.svg');
}

.icon-addelementsvg {
    background-image: url('icons/addelement.svg');
}

.icon-absolute {
    background-image: url('icons/absolute.svg');
}

.icon-addperson {
    background-image: url('icons/addperson.svg');
}

.icon-alighleft {
    background-image: url('icons/alignleft.svg');
}

.icon-alignleft {
    background-image: url('icons/alignleft.svg');
}

.icon-angular {
    background-image: url('icons/angular.svg');
}

.icon-arrowbottom {
    background-image: url('icons/arrowbottom.svg');
}

.icon-arrowleft {
    background-image: url('icons/arrowleft.svg');
}

.icon-arrowright {
    background-image: url('icons/arrowright.svg');
}

.icon-arrowtop {
    background-image: url('icons/arrowtop.svg');
}

.icon-audio {
    background-image: url('icons/audio.svg');
}

.icon-blockquote {
    background-image: url('icons/blockquote.svg');
}

.icon-blur {
    background-image: url('icons/blur.svg');
}

.icon-bold {
    background-image: url('icons/bold.svg');
}

.icon-borderall {
    background-image: url('icons/borderall.svg');
}

.icon-borderdotted {
    background-image: url('icons/borderdotted.svg');
}

.icon-bordernone {
    background-image: url('icons/bordernone.svg');
}

.icon-borders {
    background-image: url('icons/borders.svg');
}

.icon-bordersolid {
    background-image: url('icons/bordersolid.svg');
}

.icon-button {
    background-image: url('icons/button.svg');
}

.icon-capitalize {
    background-image: url('icons/capitalize.svg');
}

.icon-checkbox {
    background-image: url('icons/checkbox.svg');
}

.icon-checkboxoutline {
    background-image: url('icons/checkboxoutline.svg');
}

.icon-code {
    background-image: url('icons/code.svg');
}

.icon-codesmall {
    background-image: url('icons/codesmall.svg');
}

.icon-color {
    background-image: url('icons/color.svg');
}

.icon-color2 {
    background-image: url('icons/color2.svg');
}

.icon-component {
    background-image: url('icons/component.svg');
}

.icon-componentinstance {
    background-image: url('icons/componentinstance.svg');
}

.icon-contain {
    background-image: url('icons/contain.svg');
}

.icon-column-wrap-reverse {
    background-image: url('icons/coulmn-wrap-reverse-icon.svg');
}

.icon-cursor {
    background-image: url('icons/Cursor.svg');
}

.icon-custom {
    background-image: url('icons/custom.svg');
}

.icon-data {
    background-image: url('icons/data.svg');
}

.icon-delete {
    background-image: url('icons/delete.svg');
}

.icon-displaynone {
    background-image: url('icons/displaynone.svg');
}

.icon-div {
    background-image: url('icons/div.svg');
}

.icon-download-1 {
    background-image: url('icons/download-1.svg');
}

.icon-download {
    background-image: url('icons/download.svg');
}

.icon-dropbox {
    background-image: url('icons/dropbox.svg');
}

.icon-dropshadow {
    background-image: url('icons/dropshadow.svg');
}

.icon-edit {
    background-image: url('icons/Edit.svg');
}

.icon-email {
    background-image: url('icons/email.svg');
}

.icon-events {
    background-image: url('icons/events.svg');
}

.icon-external {
    background-image: url('icons/external.svg');
}

.icon-flex {
    background-image: url('icons/flex.svg');
}

.icon-flexchildnowrap {
    background-image: url('icons/flexchildnowrap.svg');
}

.icon-flexcol {
    background-image: url('icons/flexcol.svg');
}

.icon-flexibility {
    background-image: url('icons/flexibility.svg');
}

.icon-flexwrap {
    background-image: url('icons/flexwrap.svg');
}

.icon-folder {
    background-image: url('icons/folder.svg');
}

.icon-fontsize {
    background-image: url('icons/fontsize.svg');
}

.icon-font {
    background-image: url('icons/font.svg');
}

.icon-fork {
    background-image: url('icons/fork.svg');
}

.icon-form {
    background-image: url('icons/form.svg');
}

.icon-gallery-view {
    background-image: url('icons/galleryview.svg');
}

.icon-gapcol {
    background-image: url('icons/gapcol.svg');
}

.icon-gift {
    background-image: url('icons/gift.svg');
}

.icon-github {
    background-image: url('icons/github.svg');
}

.icon-githubsmall {
    background-image: url('icons/githubsmall.svg');
}

.icon-googledrive {
    background-image: url('icons/googedrive.svg');
}

.icon-google {
    background-image: url('icons/google.svg');
}

.icon-gradientlinear {
    background-image: url('icons/gradientlinear.svg');
}

.icon-grid {
    background-image: url('icons/grid.svg');
}

.icon-heading {
    background-image: url('icons/heading.svg');
}

.icon-height {
    background-image: url('icons/height.svg');
}

.icon-home {
    background-image: url('icons/home.svg');
}

.icon-id {
    background-image: url('icons/id.svg');
}

.icon-identifier {
    background-image: url('icons/identifier.svg');
}

.icon-image {
    background-image: url('icons/image.svg');
}

.icon-import {
    background-image: url('icons/import.svg');
}

.icon-info {
    background-image: url('icons/info.svg');
}

.icon-inline {
    background-image: url('icons/inline.svg');
}

.icon-innershadow {
    background-image: url('icons/innershadow.svg');
}

.icon-input {
    background-image: url('icons/input.svg');
}

.icon-justify {
    background-image: url('icons/justify.svg');
}

.icon-layout {
    background-image: url('icons/layout.svg');
}

.icon-letterspacinglineheight {
    background-image: url('icons/letterspacinglineheight.svg');
}

.icon-li {
    background-image: url('icons/li.svg');
}

.icon-link {
    background-image: url('icons/link.svg');
}

.icon-listdecimal {
    background-image: url('icons/listdecimal.svg');
}

.icon-listlowerlatin {
    background-image: url('icons/listlowerlatin.svg');
}

.icon-listview {
    background-image: url('icons/listview.svg');
}

.icon-ltr {
    background-image: url('icons/ltr.svg');
}

.icon-margin {
    background-image: url('icons/margin.svg');
}

.icon-marginbottom {
    background-image: url('icons/MarginBottom.svg');
}

.icon-marginright {
    background-image: url('icons/MarginRight.svg');
}

.icon-margintop {
    background-image: url('icons/MarginTop.svg');
}

.icon-minwidth {
    background-image: url('icons/minwidth.svg');
}

.icon-move {
    background-image: url('icons/Move.svg');
}

.icon-netlify {
    background-image: url('icons/netlify.svg');
}

.icon-npm {
    background-image: url('icons/npm.svg');
}

.icon-number {
    background-image: url('icons/number.svg');
}

.icon-opcity {
    background-image: url('icons/Opcity.svg');
}

.icon-padding {
    background-image: url('icons/padding.svg');
}

.icon-paddingleft {
    background-image: url('icons/PaddingLeft.svg');
}

.icon-paddingright {
    background-image: url('icons/PaddingRight.svg');
}

.icon-paddingtop {
    background-image: url('icons/PaddingTop.svg');
}

.icon-pages {
    background-image: url('icons/Pages.svg');
}

.icon-payment {
    background-image: url('icons/payment.svg');
}

.icon-people {
    background-image: url('icons/people.svg');
}

.icon-person-1 {
    background-image: url('icons/person-1.svg');
}

.icon-person {
    background-image: url('icons/person.svg');
}

.icon-position {
    background-image: url('icons/position.svg');
}

.icon-radius {
    background-image: url('icons/radius.svg');
}

.icon-radiusall {
    background-image: url('icons/radiusall.svg');
}

.icon-relative {
    background-image: url('icons/relative.svg');
}

.icon-repeat-x {
    background-image: url('icons/repeat-x.svg');
}

.icon-repeat-y {
    background-image: url('icons/repeat-y.svg');
}

.icon-right {
    background-image: url('icons/right.svg');
}

.icon-rotate {
    background-image: url('icons/Rotate.svg');
}

.icon-routes {
    background-image: url('icons/routes.svg');
}

.icon-rtl {
    background-image: url('icons/rtl.svg');
}

.icon-safe {
    background-image: url('icons/safe.svg');
}

.icon-scrollfixed-1 {
    background-image: url('icons/scrollfixed-1.svg');
}

.icon-scrollfixed {
    background-image: url('icons/scrollfixed.svg');
}

.icon-search {
    background-image: url('icons/Search.svg');
}

.icon-settings {
    background-image: url('icons/settings.svg');
}

.icon-size {
    background-image: url('icons/Size.svg');
}

.icon-skew {
    background-image: url('icons/Skew.svg');
}

.icon-star {
    background-image: url('icons/star.svg');
}

.icon-static {
    background-image: url('icons/static.svg');
}

.icon-sticky {
    background-image: url('icons/sticky.svg');
}

.icon-stop {
    background-image: url('icons/stop.svg');
}

.icon-styles {
    background-image: url('icons/styles.svg');
}

.icon-svelte {
    background-image: url('icons/svelte.svg');
}

.icon-sync {
    background-image: url('icons/sync.svg');
}

.icon-syncbig {
    background-image: url('icons/syncbig.svg');
}

.icon-toggle_off {
    background-image: url('icons/toggle_off.svg');
}

.icon-toggle_on {
    background-image: url('icons/toggle_on.svg');
}

.icon-top {
    background-image: url('icons/top.svg');
}

.icon-topbottomleftright {
    background-image: url('icons/topbottomleftright.svg');
}

.icon-underline {
    background-image: url('icons/underline.svg');
}

.icon-uppercase-1 {
    background-image: url('icons/uppercase-1.svg');
}

.icon-uppercase {
    background-image: url('icons/uppercase.svg');
}

.icon-video {
    background-image: url('icons/video.svg');
}

.icon-wrapreverse {
    background-image: url('icons/wrapreverse.svg');
}

.icon-states {
    background-image: url('icons/states.svg');
}

.icon-globe-1 {
    background-image: url('icons/globe-1.svg');
}

.icon-cloud {
    background-image: url('icons/cloud.svg');
}

.icon-run {
    background-image: url('icons/run.svg');
}

.icon-library {
    background-image: url('icons/library.svg');
}

.icon-width {
    background-image: url('icons/width.svg');
}

.icon-phone {
    background-image: url('icons/phone.svg');
}

.icon-gaprow {
    background-image: url('icons/gaprow.svg');
}

.icon-growcol {
    background-image: url('icons/grow.svg');
}

.icon-shrinkcol {
    background-image: url('icons/shrink.svg');
}

.icon-growrow {
    background-image: url('icons/growrow.svg');
}

.icon-shrinkrow {
    background-image: url('icons/shrinkrow.svg');
}

.icon-media {
    background-image: url('icons/mediadevices.svg');
}

.icon-fixed {
    background-image: url('icons/fixed.svg');
}

.icon-maxheight {
    background-image: url('icons/maxheight1.svg');
}

.icon-minheight {
    background-image: url('icons/minheight1.svg');
}

.icon-maxwidth {
    background-image: url('icons/maxwidth.svg');
}

.icon-fontweight {
    background-image: url('icons/fontweight.svg');
}

.icon-spacing {
    background-image: url('icons/spacing.svg');
}

.icon-indent {
    background-image: url('icons/indent.svg');
}

.icon-strikeout {
    background-image: url('icons/strikeout.svg');
}

.icon-none {
    background-image: url('icons/none.svg');
}

.icon-positiontop {
    background-image: url('icons/bgposition.svg');
}

.icon-positionleft {
    background-image: url('icons/bgposition-4.svg');
}

.icon-positionright {
    background-image: url('icons/bgposition-1.svg');
}

.icon-positionbottom {
    background-image: url('icons/bgposition-3.svg');
}

.icon-cover {
    background-image: url('icons/cover.svg');
}

.icon-repeat {
    background-image: url('icons/repeat.svg');
}

.icon-borderdashed {
    background-image: url('icons/borderdashed.svg');
}

.icon-bordertop {
    background-image: url('icons/bordertop.svg');
}

.icon-borderbottom {
    background-image: url('icons/borderbottom.svg');
}

.icon-borderleft {
    background-image: url('icons/borderleft.svg');
}

.icon-borderright {
    background-image: url('icons/borderright.svg');
}

.icon-down {
    background-image: url('icons/down.svg');
}

.icon-relate {
    background-image: url('icons/relatelogo.svg');
}

.icon-upload {
    background-image: url('icons/upload_24px.svg');
}

.icon-help {
    background-image: url('icons/help.svg');
}

.icon-globe {
    background-image: url('icons/globe.svg');
}

.icon-layers {
    background-image: url('icons/layers.svg');
}

.icon-brush {
    background-image: url('icons/brush.svg');
}

.icon-deletewhite {
    background-image: url('icons/deletewhite.svg');
}

.icon-importbig {
    background-image: url('icons/importproject.svg');
}

.icon-js {
    background-image: url('icons/js.svg');
}

.icon-italic {
    background-image: url('icons/italic.svg');
}

.icon-display {
    background-image: url('icons/eye.svg');
}

.icon-copy {
    background-image: url('icons/copy.svg');
}

.icon-transition {
    background-image: url('icons/transitions.svg');
}

.icon-css {
    background-image: url('icons/css.svg');
}

.icon-html {
    background-image: url('icons/html.svg');
}

.icon-write {
    background-image: url('icons/edit.svg');
}

.icon-editwhite {
    background-image: url('icons/editwhite.svg');
}

.icon-listsquare {
    background-image: url('icons/listsquare.svg');
}

.icon-listdisc {
    background-image: url('icons/disc.svg');
}

.icon-listcircle {
    background-image: url('icons/circle.svg');
}

.icon-list {
    background-image: url('icons/ul.svg');
}

.icon-laptop {
    background-image: url('icons/laptop.svg');
}

.icon-desktop {
    background-image: url('icons/desktop.svg');
}

.icon-smartphone_landscape {
    background-image: url('icons/smartphone_landscape.svg');
}

.icon-smartphone_portrait {
    background-image: url('icons/smartphone_portrait.svg');
}

.icon-tablet {
    background-image: url('icons/tablet.svg');
}

.icon-watch {
    background-image: url('icons/watch.svg');
}

.icon-runwhite {
    background-image: url('icons/runwhite.svg');
}